<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_create.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,126},{221,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,127}}</string>
                <key>sourceSize</key>
                <string>{221,127}</string>
            </dict>
            <key>create_room_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{224,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,228}}</string>
                <key>sourceSize</key>
                <string>{224,228}</string>
            </dict>
            <key>create_room_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{875,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{875,122}}</string>
                <key>sourceSize</key>
                <string>{875,128}</string>
            </dict>
            <key>i_create_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,257},{242,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,77}}</string>
                <key>sourceSize</key>
                <string>{242,77}</string>
            </dict>
            <key>i_ellipse.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,126},{156,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,63}}</string>
                <key>sourceSize</key>
                <string>{156,63}</string>
            </dict>
            <key>i_join_room_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,126},{238,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,75}}</string>
                <key>sourceSize</key>
                <string>{238,75}</string>
            </dict>
            <key>i_player_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,126},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>i_room_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,203},{76,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{76,50}</string>
            </dict>
            <key>i_rounds.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,126},{128,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,50}}</string>
                <key>sourceSize</key>
                <string>{128,50}</string>
            </dict>
            <key>i_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,255},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
            <key>i_selected2.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,203},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>i_selected_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,284},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>i_selected_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,245},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>i_square.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,126},{106,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,129}}</string>
                <key>sourceSize</key>
                <string>{106,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>create_room.png</string>
            <key>size</key>
            <string>{879,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26a69994df8efe9055b14079d3e01b20:1/1$</string>
            <key>textureFileName</key>
            <string>create_room.png</string>
        </dict>
    </dict>
</plist>
