<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{138,152}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,15},{138,152}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hall_firstcharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{171,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,120}}</string>
                <key>sourceSize</key>
                <string>{171,120}</string>
            </dict>
            <key>hall_firstcharge1.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,2},{109,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,68}}</string>
                <key>sourceSize</key>
                <string>{109,68}</string>
            </dict>
            <key>hall_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,156}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{150,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hall_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{146,156}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,11},{146,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>hall_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{134,142}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{134,142}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_bottom.png</string>
            <key>size</key>
            <string>{851,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515f10141c4e2a0c85fc7eeb81a78e03:1/1$</string>
            <key>textureFileName</key>
            <string>hall_bottom.png</string>
        </dict>
    </dict>
</plist>
