<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{433,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{433,166}}</string>
                <key>sourceSize</key>
                <string>{433,166}</string>
            </dict>
            <key>hall_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{171,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,186}}</string>
                <key>sourceSize</key>
                <string>{171,186}</string>
            </dict>
            <key>hall_msg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,54},{83,63}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{83,63}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>hall_notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,2},{1199,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{1199,50}}</string>
                <key>sourceSize</key>
                <string>{1207,50}</string>
            </dict>
            <key>hall_notice_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,54},{80,70}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{80,70}}</string>
                <key>sourceSize</key>
                <string>{108,76}</string>
            </dict>
            <key>hall_pendant.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,2},{68,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,154}}</string>
                <key>sourceSize</key>
                <string>{68,154}</string>
            </dict>
            <key>hall_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1833,54},{77,77}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{77,77}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>hall_sign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,54},{79,75}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{79,75}}</string>
                <key>sourceSize</key>
                <string>{103,95}</string>
            </dict>
            <key>hall_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,54},{584,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,132}}</string>
                <key>sourceSize</key>
                <string>{584,136}</string>
            </dict>
            <key>hall_title_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,54},{336,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,100}}</string>
                <key>sourceSize</key>
                <string>{336,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_top.png</string>
            <key>size</key>
            <string>{1912,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:039e2877dcc0018ece82ab6e55953638:1/1$</string>
            <key>textureFileName</key>
            <string>hall_top.png</string>
        </dict>
    </dict>
</plist>
