<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_room_direction_east.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,83},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>i_room_direction_north.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,142},{61,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{61,50}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>i_room_direction_player_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,83},{85,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,177}}</string>
                <key>sourceSize</key>
                <string>{85,177}</string>
            </dict>
            <key>i_room_direction_player_opposite.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,170},{242,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,43}}</string>
                <key>sourceSize</key>
                <string>{242,43}</string>
            </dict>
            <key>i_room_direction_player_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{85,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,177}}</string>
                <key>sourceSize</key>
                <string>{85,177}</string>
            </dict>
            <key>i_room_direction_player_self.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{333,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,79}}</string>
                <key>sourceSize</key>
                <string>{333,79}</string>
            </dict>
            <key>i_room_direction_south.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,83},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>i_room_direction_west.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{59,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{59,48}}</string>
                <key>sourceSize</key>
                <string>{61,58}</string>
            </dict>
            <key>room_direction_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,218}}</string>
                <key>sourceSize</key>
                <string>{359,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{835,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8533c6596bd2ff73e624972849bc01fe:1/1$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
