<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_middle_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{471,477}}</string>
                <key>offset</key>
                <string>{37,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,2},{471,477}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>hall_room_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{487,475}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{487,475}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
            <key>hall_room_personal.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{461,479}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{461,479}}</string>
                <key>sourceSize</key>
                <string>{545,479}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_middle.png</string>
            <key>size</key>
            <string>{1415,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc74c31fa285a3ab7b3bb1e55315a10:1/1$</string>
            <key>textureFileName</key>
            <string>hall_middle.png</string>
        </dict>
    </dict>
</plist>
