<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,338},{131,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,135}}</string>
                <key>sourceSize</key>
                <string>{131,135}</string>
            </dict>
            <key>light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,334},{141,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,145}}</string>
                <key>sourceSize</key>
                <string>{141,145}</string>
            </dict>
            <key>light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,181},{151,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,155}}</string>
                <key>sourceSize</key>
                <string>{151,155}</string>
            </dict>
            <key>light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,173},{163,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,165}}</string>
                <key>sourceSize</key>
                <string>{163,165}</string>
            </dict>
            <key>light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{165,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,169}}</string>
                <key>sourceSize</key>
                <string>{165,169}</string>
            </dict>
            <key>light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,2},{175,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,177}}</string>
                <key>sourceSize</key>
                <string>{175,177}</string>
            </dict>
            <key>light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{187,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,187}}</string>
                <key>sourceSize</key>
                <string>{187,187}</string>
            </dict>
            <key>light_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,217},{195,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,195}}</string>
                <key>sourceSize</key>
                <string>{195,195}</string>
            </dict>
            <key>light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{205,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,203}}</string>
                <key>sourceSize</key>
                <string>{205,203}</string>
            </dict>
            <key>light_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{213,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,213}}</string>
                <key>sourceSize</key>
                <string>{213,213}</string>
            </dict>
            <key>light_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{187,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,177}}</string>
                <key>sourceSize</key>
                <string>{187,177}</string>
            </dict>
            <key>light_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,191},{191,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,183}}</string>
                <key>sourceSize</key>
                <string>{191,183}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light_2.png</string>
            <key>size</key>
            <string>{929,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d02636f4c4c55347e7f7d76b7a530c:1/1$</string>
            <key>textureFileName</key>
            <string>light_2.png</string>
        </dict>
    </dict>
</plist>
