<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1082},{385,210}}</string>
                <key>offset</key>
                <string>{-13,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,195},{385,210}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,870},{409,210}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,195},{409,210}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{433,430}}</string>
                <key>offset</key>
                <string>{-21,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,45},{433,430}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,437},{431,430}}</string>
                <key>offset</key>
                <string>{-21,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,45},{431,430}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1574},{463,472}}</string>
                <key>offset</key>
                <string>{-29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{463,472}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1574},{463,472}}</string>
                <key>offset</key>
                <string>{-29,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,53},{463,472}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{549,570}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,46},{549,570}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,570}}</string>
                <key>offset</key>
                <string>{30,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,46},{549,570}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
            <key>10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{489,468}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,92},{489,468}}</string>
                <key>sourceSize</key>
                <string>{609,616}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>light_1_1.png</string>
            <key>size</key>
            <string>{1006,2039}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e988a7154ee456ddd034368d5437124d:1/1$</string>
            <key>textureFileName</key>
            <string>light_1_1.png</string>
        </dict>
    </dict>
</plist>
