<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_operation_buhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{240,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,137}}</string>
                <key>sourceSize</key>
                <string>{240,137}</string>
            </dict>
            <key>i_operation_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>i_operation_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,314},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>i_operation_gang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{135,126}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,11},{135,126}}</string>
                <key>sourceSize</key>
                <string>{165,142}</string>
            </dict>
            <key>i_operation_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>i_operation_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,300},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>i_operation_hu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{119,130}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,11},{119,130}}</string>
                <key>sourceSize</key>
                <string>{165,142}</string>
            </dict>
            <key>i_operation_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,127},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>i_operation_peng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{139,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{139,120}}</string>
                <key>sourceSize</key>
                <string>{165,142}</string>
            </dict>
            <key>i_operation_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,139},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>i_operation_ting1.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{123,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{123,140}}</string>
                <key>sourceSize</key>
                <string>{165,142}</string>
            </dict>
            <key>i_operation_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,124},{199,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,139}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>operation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,265},{412,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,161}}</string>
                <key>sourceSize</key>
                <string>{412,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operation.png</string>
            <key>size</key>
            <string>{792,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdedc13570669ba4443195c25b0613c1:1/1$</string>
            <key>textureFileName</key>
            <string>operation.png</string>
        </dict>
    </dict>
</plist>
