<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_go_back_hall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,359},{342,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,126}}</string>
                <key>sourceSize</key>
                <string>{342,126}</string>
            </dict>
            <key>btn_play_again.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,359},{341,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,125}}</string>
                <key>sourceSize</key>
                <string>{341,125}</string>
            </dict>
            <key>btn_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,772},{340,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{340,125}}</string>
                <key>sourceSize</key>
                <string>{342,125}</string>
            </dict>
            <key>i_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,848},{126,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,46}}</string>
                <key>sourceSize</key>
                <string>{126,46}</string>
            </dict>
            <key>i_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{138,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,64}}</string>
                <key>sourceSize</key>
                <string>{138,64}</string>
            </dict>
            <key>i_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,2},{355,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{355,169}}</string>
                <key>sourceSize</key>
                <string>{355,169}</string>
            </dict>
            <key>i_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{487,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{487,245}}</string>
                <key>sourceSize</key>
                <string>{487,245}</string>
            </dict>
            <key>i_game_end_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,703},{223,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,168}}</string>
                <key>sourceSize</key>
                <string>{223,168}</string>
            </dict>
            <key>i_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1429,2},{188,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,768}}</string>
                <key>sourceSize</key>
                <string>{188,768}</string>
            </dict>
            <key>i_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,658},{188,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,768}}</string>
                <key>sourceSize</key>
                <string>{188,768}</string>
            </dict>
            <key>i_tab_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,2},{743,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{743,62}}</string>
                <key>sourceSize</key>
                <string>{743,62}</string>
            </dict>
            <key>i_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,658},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>list_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1425,654}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1425,654}}</string>
                <key>sourceSize</key>
                <string>{1425,654}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_end.png</string>
            <key>size</key>
            <string>{1938,905}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e3a9d220061886b74dd738e2aefab5d:1/1$</string>
            <key>textureFileName</key>
            <string>game_end.png</string>
        </dict>
    </dict>
</plist>
