<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>i_operation_buhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{240,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,137}}</string>
                <key>sourceSize</key>
                <string>{240,137}</string>
            </dict>
            <key>i_operation_chi.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,340},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>i_operation_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,143},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>i_operation_guo.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,340},{115,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,116}}</string>
                <key>sourceSize</key>
                <string>{115,116}</string>
            </dict>
            <key>i_operation_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,165},{172,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,173}}</string>
                <key>sourceSize</key>
                <string>{172,173}</string>
            </dict>
            <key>i_operation_peng.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,318},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>i_operation_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{173,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,173}}</string>
                <key>sourceSize</key>
                <string>{173,173}</string>
            </dict>
            <key>i_operation_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{199,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{199,139}}</string>
                <key>sourceSize</key>
                <string>{199,143}</string>
            </dict>
            <key>operation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,161}}</string>
                <key>sourceSize</key>
                <string>{412,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>operation.png</string>
            <key>size</key>
            <string>{617,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca8e6c2de643953a4313d537c7736534:1/1$</string>
            <key>textureFileName</key>
            <string>operation.png</string>
        </dict>
    </dict>
</plist>
